<div class="container font">
  <h1 class="my-3">Icons</h1>
  <div class="row">
    <!--アイコン一覧-->
    <%= render "index", posts: @post %>
  </div>
  <!--ページネーション-->
  <div class="row justify-content-center">
    <%= paginate @post %>
  </div>
</div>