<div class="container font">
  <h1 class="my-3">Follow Users</h1>
  <div id="", class="row justify-content-center">
    <%= render "follow", users: @user_followings %>
  </div>
  <!--ページネーション-->
  <div class="row justify-content-center">
    <%= paginate @user_followings %>
  </div>
</div>