<div class="container font">
  <h1 class="my-3">Followers</h1>
  <div id="", class="row justify-content-center">
    <%= render "follow", users: @user_followers %>
  </div>
  <!--ページネーション-->
  <div class="row justify-content-center">
    <%= paginate @user_followers %>
  </div>
</div>