<div class="container">
  <h1 class="my-3">Results</h1>
  <div class="row ">
    <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <table class="table table-hover table-inverse">
      <tbody>
        <%= render "public/users/index", users: @users %>
      </tbody>
    </table>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <%= render "public/posts/index", posts: @posts %>
  <% end %>
  </div>
</div>