<div class="container about_bg">
  <div class="row justify-content-center my-5">
    <h1>About</h1>
  </div>

  <div class="row justify-content-center text-center my-5 font">
    <h5>
      Meiconはアイコンを無料で配布、ダウンロードできるサイトです。</br>
      全てのアイコンは個人利用のみ可能です。</br>
      </br>
      SNSの普及により、アイコンはユーザーの「顔」としてなくてはならない存在です。</br>
      そんな「顔」をより手軽に、安心して探せる・投稿できるサイトです。
    </h5>
  </div>
</div>