@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Zen+Maru+Gothic&display=swap'); //Zen Maru Gothic

.new-img{
  width: 400px;
  object-fit: cover;
}

.user_icon{
  border-radius: 50%;  //角丸半径を50%にする(=円形にする) 50%以上は表示に変化なし
  object-fit: cover; //縦横比固定したまま範囲内に収まるように配置する
}

.p_posts_show{
  width: 400px;
  margin: 0 auto;
}

.font{
  font-family: 'Zen Maru Gothic', sans-serif;
}

.about_bg{
  background-image: url('../../assets/images/about_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

main{
  margin-bottom: 30px;
}