<div class="container font">
 <h1><%= @user.name %>’s Favorites</h1>
 <div class="row">
  <%= render "public/posts/index", posts: @favorite_posts %>
 </div>
 <!--ページネーション-->
  <div class="row justify-content-center">
    <%= paginate @favorite_posts %>
  </div>
</div>