<h1 class="my-3">Users</h1>

<div class="row justify-content-center">
  <table class="table">
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user_path(user) do %>
              <%= image_tag user.get_user_image(100, 100) %>
            <% end %>
          </td>
          <td><span><%= user.name %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>