<div class="container">
  <h1 class="my-3">Users</h1>

  <div class="row justify-content-center">
    <table class="table">
      <tbody>
        <%= render "public/users/index", users: @users %>
      </tbody>
    </table>
  </div>
  <!--ページネーション-->
  <div class="row justify-content-center">
    <%= paginate @users %>
  </div>
</div>